@page "/admindata" 
@inject ITeamService teamService
@inject IAdminSystemService adminSystemService

<h3>AdminData</h3>
<MudButton @onclick="ResetSystem" ButtonType="ButtonType.Button" >Reseteja sistema</MudButton>
<label>@isReset</label>

@code {

    private string isReset { get; set; }

    private async Task ResetSystem()
    {
        await adminSystemService.InitializeAllData();
    }
}
